<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {{ bootstrap.load_css() }}
</head>
<body class="{% block body_class %}{% endblock %}">

    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid p-2">
            <!--position-relative start-50 translate-middle-x z-1-->
            <div class="">
                <!--Hyperlink para o início do site (landpage)-->
                <!---->
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">Match Estágios
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav gap-2 flex-nowrap me-auto">
                    <!--Botões de navegação do Dashboard-->
                    <li class="nav-item">
                        <a href="#" class="btn btn-primary active" aria-current="page">Vagas</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-secundary">Candidatura</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown ms-auto">
                        <!--Dropdown do perfil da empresa-->
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                </ul>
            </div>
        </div>
    </nav>

    {% include "components/flash_messages.html"%}

    <main class="flex-shrink-0 {% block main_class %}{% endblock %}">
        {{ mensagem }}
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}

    {{ bootstrap.load_js() }}
</body>
</html>
