{% extends "base.html" %}

{% block title %}Solicitar Verificação{% endblock %}

{% block main_class %}container{% endblock %}

{% block content %}

<h2 class="mb-4">Solicitar Verificação</h2>

<p class="text-muted">
    Envie seus dados acadêmicos para que sua faculdade corfirme seu vínculo estudantil.
</p>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.id_faculdade.label(class="form-label") }}
        {{ form.id_faculdade(class="form-select") }}
    </div>

    <div class="mb-3">
        {{ form.ra.label(class="form-label") }}
        {{ form.ra(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.cpf.label(class="form-label") }}
        {{ form.cpf(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.curso.label(class="form-label") }}
        {{ form.curso(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.data_nascimento.label(class="form-label") }}
        {{ form.data_nascimento(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.endereco.label(class="form-label") }}
        {{ form.endereco(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.telefone.label(class="form-label") }}
        {{ form.telefone(class="form-control") }}
    </div>

    {{ form.enviar(class="btn btn-success") }}
    <a href="{{ url_for('main.perfil') }}" class="btn btn-secondary" >Voltar</a>
</form>

{% endblock %}
