<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
	    {% block title %}Painel{% endblock %}
	</title>

	<link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css') }}"
    >

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    >

    {{ bootstrap.load_css() }}

</head>
<body class="bg-body-tertiary">


    <div class="d-flex">

        <!--Sidebar-->
        <aside
            class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
        >
            <a
                href="{{url_for('maintainer.dashboard')}}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
                <i class="bi bi-speedometer2 me-2 fs-4"></i>
                <span class="fs-4">Painel</span>
            </a>

            <hr>

            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a
                        href="{{ url_for('maintainer.dashboard') }}"
                        class="nav-link text-white"
                    >
                        <i class="bi bi-house-door me-2"></i>
                        Dashboard
                    </a>
                </li>

                <li>
                    <a
                        href="{{ url_for('maintainer.empresas') }}"
                        class="nav-link text-white"
                    >
                        <i class="bi bi-buildings me-2"></i>
                        Empresas
                    </a>
                </li>

                <li>
                    <a
                        href="{{ url_for('maintainer.usuarios') }}"
                        class="nav-link text-white"
                    >
                        <i class="bi bi-people me-2"></i>
                        Usuário
                    </a>
                </li>

                <li>
                    <a
                        href="{{ url_for('maintainer.vagas') }}"
                        class="nav-link text-white"
                    >
                        <i class="bi bi-briefcase me-2"></i>
                        Vagas
                    </a>
                </li>

                <li>
                    <a
                        href="{{ url_for('maintainer.candidaturas') }}"
                        class="nav-link text-white"
                    >
                        <i class="bi bi-briefcase-fill me-2"></i>
                        Candidaturas
                    </a>
                </li>
            </ul>

            <hr>

            <div class="text-white">
                {{ current_user.name }}
            </div>
        </aside>


        <!-- CONTEÚDO -->
        <main class="flex-grow-1 p-4">
            {% include "components/flash_messages.html" %}
            {% block content %}
            {% endblock %}
        </main>
    </div>

{{ bootstrap.load_js() }}
</body>
</html>
