.form-signin {
    max-width: 330px;
    padding: 1rem;
    margin: 7rem auto;
}

.sidebar {
    width: 250px;
    min-height: 100vh;

    h1 {
        font-size: 5em;
    }
}

table form {
    display: inline;
}
