<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {{ bootstrap.load_css() }}
</head>
<body class="{% block body_class %}{% endblock %}">

    {% include 'components/header.html' %}
    {% include "components/flash_messages.html"%}
    <main class="flex-shrink-0 {% block main_class %}{% endblock %}">
        {{ mensagem }}
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}

    {{ bootstrap.load_js() }}
</body>
</html>
