{% extends "base.html" %}

{% block title %}Bem-vindo | Match Estágios{% endblock %}

{% block content %}
<section class=" sessao-rosaescuro text-center">
    <div class="row ">
            <div class="col-lg-4 col-md-12">
                <img class="img-pinguin" src="{{ url_for('static', filename='images/pinguin.png') }}" alt="Match Estágios" >
            </div>
            <div class="col-lg-6 col-md-12 mb-4">
                <h1 class="fw-light text-primary">Conectando talentos e oportunidades</h1>
                <p class="lead">
                    O Match Estágios foi desenvolvido pensando em uma lacuna: concentrar e conectar estudantes a vagas de estágios, em todos os cursos                </p>
                <div class="mt-4">
                    <a href="{{ url_for('auth.register') }}" class="btn btn-outline-secondary btn-lg px-4">Clique aqui para iniciar seu cadastro</a>
                </div>
            </div>
    </div>
</section>

<section class="bg-light py-5">
    <div id="comofunciona"class="container">
        <div>
           <h2>COMO FUNCIONA?</h2>
           <h3>Uma motivação para as três partes envolvidas, em uma lógica de ganha-ganha: </h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h3>Para os alunos</h3>
                <p>Uma ferramenta na busca de oportunidade de estágio</p>
            </div>
            <div class="col-md-4">
                <h3>Para empresas</h3>
                <p>Uma ferramenta para ser referência no mercado de trabalho</p>
            </div>
            <div class="col-md-4">
                <h3>Para a faculdade</h3>
                <p>Uma ferramenta para ser referência no mercado de trabalho</p>
            </div>
        </div>
    </div>
</section>
<!-- Seção de Instituições Credenciadas -->
<section class="section-accredited">
    <div id="instituicoescred" class="container text-center">
        <h2 class="section-title">INSTITUIÇÕES CREDENCIADAS</h2>
        
        <div class="row g-4 justify-content-center">
            <!-- Card 1 -->
            <div class="col-6 col-md-3">
                <div class="fatec-card">
                    <img src="{{ url_for('static', filename='images/fatec.png') }}" alt="Match Estágios" >
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-6 col-md-3">
                <div class="fatec-card">
                    <img src="{{ url_for('static', filename='images/fatec.png') }}" alt="Match Estágios" >
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-6 col-md-3">
                <div class="fatec-card">
                    <img src="{{ url_for('static', filename='images/fatec.png') }}" alt="Match Estágios" >
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-6 col-md-3">
                <div class="fatec-card">
                    <img src="{{ url_for('static', filename='images/fatec.png') }}" alt="Match Estágios" >                    
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Seção de Chamada para Inscrição -->
<section class="py-5 text-center" style="background-color: #f8f9fa;">
    <div class="container py-5">
        <h2 class="fw-bold mb-4" style="color: #4a4a4a; letter-spacing: 1px;">GOSTOU? INSCREVA-SE</h2>
        <a href="{{ url_for('auth.register') }}" class="btn btn-lg px-5 text-white">Começar Agora</a>
    </div>
</section>
{% endblock %}